 <!-- 
footer.ejs
ExpressPortfolio

Created by Silviya Velani on 01/06/21.
Student Id: 301167163
Copyright © 2021 Centennial College. All rights reserved. -->

 
  <!-- JS Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>