<!-- Bottom Navigation -->
<footer>
    <nav class="navbar navbar-dark" style="background-color: #191919;">
        <h6 class="display-6 navbar-text text-center">&copy; Copyright 2021. All Rights reserved.</h6>
    </nav>
</footer>
