<!-- 
main_nav.ejs
ExpressPortfolio

Created by Silviya Velani on 01/06/21.
Student Id: 301167163
Copyright © 2021 Centennial College. All rights reserved. -->
  
  
  <!-- Navigartion Bar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #191919;">
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <img src="/Assets/images/logo.png" width="60" height="60" alt=""> SILVIYA VELANI 
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

          <% if (title == "Home") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" aria-current="page" href="/home"><i class="fas fa-home"></i> Home </a>
          </li>

          <% if (title == "About Me") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" aria-current="page" href="/about"><i class="fas fa-info-circle"></i> About Me </a>
          </li>

          <% if (title == "Projects") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" aria-current="page" href="/project"><i class="fas fa-list-alt"></i> Projects </a>
          </li>

          <% if (title == "Services") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" aria-current="page" href="/services"><i class="fas fa-cogs"></i> Services </a>
          </li>

          <% if (title == "Contact Me") { %>
            <li class="nav-item active">
          <% } else { %>
            <li class="nav-item">
          <% } %>
            <a class="nav-link" aria-current="page" href="/contact"><i class="fas fa-address-card"></i> Contact Me </a>
          </li>

        </ul>
      </div>

    </div>
  </nav>
