<!-- 
about_page.ejs
ExpressPortfolio

Created by Silviya Velani on 01/10/21.
Student Id: 301167163
Copyright © 2021 Centennial College. All rights reserved. -->


<!-- Page Header -->
<div style="text-align: center;">
    <h1 class="xlarge-font"><b>About <span style="color:MediumSeaGreen;">Me</span></b></h1>
    <p><span style="font-size:20px">Allow me to introduce myself</span></p>
    <hr class="my-3">
</div>

<!-- Page Content - About me paragraph -->
<div class="container">
  <div class="row animated fadeIn justify-content-center align-items-center">
    <div class="column-33">
      <img class="img-block" src="/Assets/images/img_about.png" alt="App">
    </div>
    <div class="column-66">
        <h1 class="large-font"><b>Hi, I'm Silviya Velani.</b></h1>
        <p>I am from India and have completed my Bachelors of Engineering in Computer Engineering.</p>
        <p>After that, I was working as a Software Engineer -i0S for 2 years and now, I am working as freelance developer - iOS. </p>
        <p>I am currently enrolled in the Artificial intelligence Fast-track program as I think that 
        this program will be an add-on to my current experience and education. I am very interested in 
        developing something which reacts according to its users this was the main reason for taking admission 
        to Centennial College.</p>
        <p>In my free time, I like to do painting, travelling, and surfing the internet. </p>
        <p>Professionally, I would like to be a Big data or AI Developer at Google, and 
        I'll try my best to achieve a good position at google</p>
      <button class="btn btn-warning" onclick=" window.open('https://drive.google.com/file/d/1GQn-PXuIjDBaUs4DXOfb2sQNTF5z0TEK/view?usp=sharing','_blank')">View My Resume
      </button>
    </div>
  </div>
</div>

<!-- Page Content - Experience & Education -->
<div class="container">
  <div class="row animated fadeIn justify-content-center">
    <div class="col">
        <p><span style="font-size:20px">Experience</span></p>
        <hr class="my-3"><br>
      <p><h6><b>Software Engineer - iOS, Openxcell techolabs</b></h6>Apr 2019 - Jan 2021</p><br>
      <p><h6><b>Intern as iOS mobile developer, SculptSoft</b></h6>June 2018 - Dec 2018</p><br>
      <p><h6><b>Intern as Web Designer, SilverWing Technologies PVT. LTD</b></h6>Mar 2018</p><br>
    
    </div>
    <div class="col">
        <p><span style="font-size:20px">Education</span></p>
        <hr class="my-3"><br>

        <p><h6><b>Software Engineering - Artificial Intelligence Fast-track, Centennial college, Canada</b></h6>Jan 2021 - Present</p><br>
        <p><h6><b>Bachelors of Engineering in Computer Engineering, LDRP-ITR college, India</b></h6>April 2019, with 8.19 CGPA</p><br>
        
    </div>
  </div>
</div>