<!-- The App Section -->
<div class="container">
  <div class="row animated fadeIn justify-content-center align-items-center">
    <div class="column-66">
      <h1 class="xlarge-font"><b>Fourplay Social</b></h1>
      <h1 class="large-font" style="color:#00c1ff;"><b>The double dating app</b></h1>
      <p><span style="font-size:36px">Go on date with friends.</span> Teams can match with other singles by swiping through team profiles. When a unanimous match is made, they can all chat and plan their double date. And can also chat with teammates personally. </p>
      <p><span style="font-size:16px">My Role: </span>I developer whole iOS application with swift programming language. </p>
      <button class="btn btn-info">Download Application</button>
    </div>
    <div class="column-33">
        <img class="img-block" src="/Assets/images/projects/img_fourplay.png">
    </div>
  </div>
</div>

<!-- Clarity Section -->
<div class="container" style="background-color:#f1f1f1">
  <div class="row animated fadeIn justify-content-center align-items-center">
    <div class="column-33">
      <img class="img-block" src="/Assets/images/projects/img_athletes.jpg" alt="App">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>Athletes GO Live</b></h1>
      <h1 class="large-font" style="color:#ff5900;"><b>Watch sports live?</b></h1>
      <p><span style="font-size:24px">Live stream games.</span> Watch athletic events and games with live scores. Fans, teams, and coaches can view live and archived events in the app.</p>
      <button class="btn btn-warning">Download Application</button>
    </div>
  </div>
</div>

<!-- The App Section -->
<div class="container">
  <div class="row animated fadeIn justify-content-center align-items-center">
    <div class="column-66">
      <h1 class="xlarge-font"><b>333 Can't call me</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Tired of spam calls?</b></h1>
      <p><span style="font-size:36px">Block telemarketing calls.</span> It allows users to block a number personally. It also has a feature of network blocking which blocks telemarketing calls and also adds on functionality that blocks call from numbers that are reported spam by multiple users.</p>
      <button class="btn btn-success">Download Application</button>
    </div>
    <div class="column-33">
        <img class="img-block" src="/Assets/images/projects/img_callblocker.png">
    </div>
  </div>
</div>