<!-- 
service_page.ejs
ExpressPortfolio

Created by Silviya Velani on 01/10/21.
Student Id: 301167163
Copyright © 2021 Centennial College. All rights reserved. -->


<!-- Page Header & Content -->
<div style="text-align: center;background-color:#e9ecef;padding-top: 5px;">
    <h1 class="xlarge-font"><b>Comprehensive <span style="color:MediumSeaGreen;">Services</span></b></h1>
    <p><span style="font-size:20px">Let's Build Something Awesome</span></p>
    <hr class="my-3">

    <div class="container">
        <div class="row animated fadeIn justify-content-center align-items-center">
          <div class="col">
            <img src="/Assets/images/services/img_app_dev.png" alt="" height="270px">
            <!-- <i class="fas fa-mobile fa-7x"></i>
            <i class="fas fa-laptop-code fa-7x"></i> -->
          </div>
          <div class="col">
              <p><h4><b>iOS Application Development</b></h4>Technology: Swift, Firebase realtime database, Firebase chat, Social Login Api</p>
          </div>
        </div>
      </div>

      <hr class="my-3">

      <div class="container">
        <div class="row animated fadeIn justify-content-center align-items-center">
          <div class="col">
              <p><h4><b>Website Development</b></h4>Technology: NodeJS, HTML, CSS, ExpressJS, MongoDB</p>
          </div>
          <div class="col">
            <img src="/Assets/images/services/img_web_dev.png" alt="" height="270px">
            <!-- <i class="fas fa-desktop fa-7x"></i>
            <i class="fas fa-code fa-7x"></i> -->
          </div>
        </div>
      </div>

      <a class="btn btn-warning" href="/contact">Get in Touch</a>
</div>


<!-- <i class="fas fa-mobile"></i> -->