<!-- Bottom Navigation -->
<footer>
    <nav class="navbar navbar-light bg-light">
        <h6 class="display-6 navbar-text text-center">&copy; Copyright 2021. All Rights reserved.</h6>
    </nav>
</footer>
