<!-- 
home_page.ejs
ExpressPortfolio

Created by Silviya Velani on 01/10/21.
Student Id: 301167163
Copyright © 2021 Centennial College. All rights reserved. -->


<!-- Page Content -->
<div class="container" style="padding:43px;">

<h1 class="large-font" style="text-align: center; color:#dbd7d7;"><b>Welcome to my <span style="color:MediumSeaGreen;">Site</span></b></h1>

  <div id="animated-example" class="row animated fadeIn justify-content-center align-items-center" style="margin-top: 40px">
    <div class="col" style="text-align:center;color:#dbd7d7;">

      <h1 class="display-5">Hi, I'm Silviya.</h1>
      <p class="lead" style="opacity: 0.7;">Software Engineer - iOS</p>
      <hr class="my-3" style="opacity: 0.7;">
      <p>Throughout my career, I’ve had the great fortune to work on some 
        truly inspiring projects, while meeting many influential and creative individuals along the way.</p> 
        <p>I believe in working together to create a whole that is greater than the sum of its parts. 
        For more information about my experience, portfolio, or how we can collaborate on an upcoming 
        project, get in touch today.</p><br>
        <a type="submit" class="btn btn-warning" href="/about">Learn More</a>      
    </div>

    <div class="col">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_sFBr0l/snscit.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
      <!-- <img class = "img-fluid" src="/Assets/images/img_home.png" alt=""> -->
    </div>
    
  </div>
</div>