<!-- 
project_page.ejs
ExpressPortfolio

Created by Silviya Velani on 01/10/21.
Student Id: 301167163
Copyright © 2021 Centennial College. All rights reserved. -->


<!-- The App Section -->
<div class="container">
  <div class="row animated fadeIn justify-content-center align-items-center">
    <div class="column-66">
      <h1 class="xlarge-font"><b>Fourplay Social</b></h1>
      <h1 class="large-font" style="color:#00c1ff;"><b>The double dating app</b></h1>
      <p><span style="font-size:36px">Go on date with friends.</span> Teams can match with other singles by swiping through team profiles. When a unanimous match is made, they can all chat and plan their double date. And can also chat with teammates personally. </p>
      <p><span style="font-size:16px"><b>My Role: </b></span>I developed whole iOS application with swift programming language, firebase realtime database, Firebase chat API, Social login, and some third party cocoapods. </p>
      <button class="btn btn-info" onclick=" window.open('https://apps.apple.com/us/app/fourplay-double-dating-app/id1463551449','_blank')">Learn More</button>
    </div>
    <div class="column-33">
        <img class="img-block img-fluid" src="/Assets/images/projects/img_fourplay.png">
    </div>
  </div>
</div>

<!-- Clarity Section -->
<div class="container">
  <div class="row animated fadeIn justify-content-center align-items-center">
    <div class="column-33">
      <img class="img-block img-fluid" src="/Assets/images/projects/img_athletes.jpg" alt="App">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>Athletes GO Live</b></h1>
      <h1 class="large-font" style="color:#ff5900;"><b>Watch sports live?</b></h1>
      <p><span style="font-size:24px">Live stream games.</span> Watch athletic events and games with live scores. Fans, teams, and coaches can view live and archived events in the app.</p>
      <p><span style="font-size:16px"><b>My Role: </b></span>I took part in development of iOS application with swift programming language, Wowza live streaming platform, Consumable In-App purchase, and some third party cocoapods. </p>
      <button class="btn btn-warning" onclick=" window.open('https://apps.apple.com/us/app/athletesgolive/id1385451609','_blank')">Learn More</button>
    </div>
  </div>
</div>

<!-- The App Section -->
<div class="container">
  <div class="row animated fadeIn justify-content-center align-items-center">
    <div class="column-66">
      <h1 class="xlarge-font"><b>333 Can't call me</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Tired of spam calls?</b></h1>
      <p><span style="font-size:36px">Block telemarketing calls.</span> It allows users to block a number personally. It also has a feature of network blocking which blocks telemarketing calls and also adds on functionality that blocks call from numbers that are reported spam by multiple users.</p>
      <p><span style="font-size:16px"><b>My Role: </b></span>I developed whole iOS application with swift programming language, Call Kit extention, Call blocking extention, notification extention, Auto renewable In-App purchase, and some third party cocoapods. </p>
      <button class="btn btn-success"  onclick=" window.open('https://testflight.apple.com/join/uiDwsQEU','_blank')">Learn More</button>
    </div>
    <div class="column-33">
        <img class="img-block img-fluid" src="/Assets/images/projects/img_callblocker.png">
    </div>
  </div>
</div>