<div class="container-white">
  <div style="text-align:center; padding-top:50px">
    <h2>Get in touch</h2>
    <p>Let's work on your dream project together!</p>
  </div>
</div>

<div id="animated-example" class="row animated fadeIn justify-content-center align-items-center" style="padding:20px">
    <div class="col" style="text-align:center;">
        <form>
            <div class="row">
                <div class="col">
                <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
              <input type="text" class="form-control" placeholder="Last name">
            </div>
          </div>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect">
              <option>India</option>
              <option>USA</option>
              <option>Canada</option>
              <option>China</option>
              <option>Australia</option>
            </select>
          </div>
          <div class="form-group">
            <input type="subject" class="form-control" id="exampleInputSubject" placeholder="Enter subject">
        </div>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter message"></textarea>
          </div>
  
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </div>
    <div class="col" style="padding-left: 50px;padding-right: 50px;">
      
      <h4 class="display-6">SILVIYA VELANI</h4>
      <p>Software Engineer - iOS</p>
      <hr class="my-3">
      <h6 class="display-6">Email:</h6>
      <p>silviyavelani@gmail.com</p>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-link">
            <a href="/">
                <i class="fab fa-linkedin fa-2x" style="color:black"></i>
            </a>
        </button>
        <button type="button" class="btn btn-link">
            <a href="/">
                <i class="fab fa-facebook-square fa-2x" style="color:black"></i>
            </a>
        </button>
        <button type="button" class="btn btn-link">
            <a href="/">
                <i class="fab fa-instagram-square fa-2x" style="color:black"></i>
            </a>
        </button>
        <button type="button" class="btn btn-link">
            <a href="/">
                <i class="fab fa-github-square fa-2x" style="color:black"></i>
            </a>
        </button>
      </div>    
    </div>
    
  </div>