<div class="container" style="padding:50px;">
    <!-- <img class="img-responsive" src="/Assets/images/img_home_background.png" alt=""> -->
    <div id="animated-example" class="row animated fadeIn justify-content-center align-items-center">
  <!-- <div data-ix="fadeandmoveup" class="row justify-content-center align-items-center"> -->
    <div class="col" style="text-align:center;color:#dbd7d7;">

        <h1 class="display-5">Hi, I'm Silviya.</h1>
      <p class="lead" style="opacity: 0.7;">Software Engineer - iOS</p>
      <hr class="my-3" style="opacity: 0.7;">
      <p>Throughout my career, I’ve had the great fortune to work on some 
        truly inspiring projects, while meeting many influential and creative individuals along the way. 
        I believe in working together to create a whole that is greater than the sum of its parts. 
        For more information about my experience, portfolio, or how we can collaborate on an upcoming 
        project, get in touch today.</p>
    </div>
    <div class="col">
      <a href="/">
            <img src="/Assets/images/img_home.png" alt="">
        </a>
    </div>
  </div>
</div>